---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";

let title = "Brian | Via";
let description = "Musings on Software or anything else that strikes my fancy.";

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob("./posts/*.md");
const sortedPosts = unsortedPosts.sort(function (a, b) {
  return (
    new Date(b.frontmatter.publishDate).valueOf() -
    new Date(a.frontmatter.publishDate).valueOf()
  );
});
// slice first index and return modified original array
const finalSortedPosts = sortedPosts.slice(1);
const mostRecentPost = sortedPosts[0];
---

<html lang="en">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <BaseHead title={title} description={description} />
  </head>

  <body class="">
    <Header />

    <div class="xs:px-2 sm:px-4 md:px-6 lg:px-8 px-8 mx-auto wrapper">
      <main class="content">
        <section class="intro">
          <p>{description}</p>
        </section>

        <br style="background-color: black;" />
        <section id="most-recent-post">
          <BlogPostPreview
            title={mostRecentPost.frontmatter.title}
            description={mostRecentPost.frontmatter.description}
            publishDate={mostRecentPost.frontmatter.publishDate}
            url={mostRecentPost.url}
            heroImage={mostRecentPost.frontmatter.heroImage}
            mostRecentPost={true}
          />
        </section>

        <section aria-label="Blog post list">
          <!-- three column grid view -->
          <div
            class="grid xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-auto-rows: 1fr; gap-x-8"
          >
            {
              finalSortedPosts.map((post) => (
                <BlogPostPreview
                  title={post.frontmatter.title}
                  description={post.frontmatter.description}
                  publishDate={post.frontmatter.publishDate}
                  url={post.url}
                  heroImage={post.frontmatter.heroImage}
                />
              ))
            }
          </div>
        </section>
      </main>
    </div>
    <Footer />

    <style>
      .content {
        margin-top: 4rem;
        margin-bottom: 4rem;
      }

      .intro {
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--theme-divider);
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
      }
      ul {
        margin: 0.5rem 0.5rem;
      }
    </style>
  </body>
</html>
